services:
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - ./apps/api/.env
    ports:
      - "3001:3001"

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    env_file:
      - ./apps/web/.env
    ports:
      - "3000:3000"
    depends_on:
      - api

  py:
    build:
      context: .
      dockerfile: ./apps/py/Dockerfile
    env_file:
      - ./apps/py/.env
    ports:
      - "8001:8001"
