services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-example}
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - ./apps/api/.env
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    env_file:
      - ./apps/web/.env
    ports:
      - "3000:3000"
    depends_on:
      - api

  py:
    build:
      context: .
      dockerfile: ./apps/py/Dockerfile
    env_file:
      - ./apps/py/.env
    ports:
      - "8001:8001"
    depends_on:
      - mongo

volumes:
  mongo_data:
